# Python

**pycache**/
*.py[cod]
*$py.class

# Django

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables

.env
.env.*
!.env.example

# Virtual environments

venv/
env/
ENV/
.venv/

# Static & media files

/staticfiles/
/media/

# Migrations (optional: comment this if you want to track them)

**/migrations/*
!**/migrations/**init**.py

# Django cache

*.cache

# IDE / Editor

.vscode/
.idea/
*.swp
*.swo

# OS files

.DS_Store
Thumbs.db

# Testing / coverage

.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Logs

*.log

# Node (if you have frontend in same repo)

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker

*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Celery

celerybeat-schedule
celerybeat.pid

# Build files

build/
dist/
*.egg-info/

# Type checkers

.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm

.idea/

# Jupyter Notebook

.ipynb_checkpoints/

# Misc

*.bak
*.tmp

*.pdf